<!DOCTYPE HTML>
{% set nameId = name %}
{% set matchId = match %}
{% set Summoner_Id_data = Summoner_Id_data %}
{% set gameId = Summoner_Id_data["gameId"] %}
{% set participantId = Summoner_Id_data["participantId"] %}
{% set championId = Summoner_Id_data[matchId].championId  %}
{% set profileIcon = Summoner_Id_data[matchId].profileIcon %}
{% set goldEarned = Summoner_Id_data["goldEarned"] %}
{% set pageTitle = "Stat Comparsion to " ~ name ~ " For match " ~ matchId %}
{% set goldEarned = Summoner_Id_data[matchId].goldEarned %}
{% set visionScore = Summoner_Id_data[matchId].visionScore %}
{% set deaths = Summoner_Id_data[matchId].deaths %}
{% set kills = Summoner_Id_data[matchId].kills %}
{% set damageDealtToTurrets = Summoner_Id_data[matchId].damageDealtToTurrets %}
{% set totalMinionsKilled = Summoner_Id_data[matchId].totalMinionsKilled %}

<html>
<head>

    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{text:"{{pageTitle}}"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{goldEarned}}, label: "your gold",color: "#DAA520"},
			{ y: 7, label: "pro's gold",color: "#DAA520" },
			{ y: 7, label: "your towers taken", color: "#585858"},
			{ y: 7, label: "pro's towers taken", color: "#585858"},
			{ y: 7, label: "your amount of deaths in match", color:"#000000"},
			{ y: 7, label: "pro's amount of deaths in match", color:"#000000"},
			{ y: 7, label: "your cs", color:"#8000FF"},
			{ y: 7, label: "pro's cs", color:"#8000FF"},
			{ y: 7, label: "your damage dealt",color:"#FF0000"},
			{ y: 7, label: "pro's damage dealt",color:"#FF0000"},
			{ y: 7, label: "your vision score", color:"#00FF00"},
			{ y: 7, label: "pro's vision score",color:"#00FF00"},
			{ y: 7, label: "your total time of cc dealt",color:"#0101DF"},
			{ y: 7, label: "pro's total time of cc dealt", color:"#0101DF"},
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,

	title:{text:"Next Data"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{goldEarned}}, label: "your gold",color: "#DAA520"},
			{ y: 7, label: "pro's gold",color: "#DAA520" },
			{ y: 7, label: "your towers taken", color: "#585858"},
			{ y: 7, label: "pro's towers taken", color: "#585858"},
			{ y: 7, label: "your amount of deaths in match", color:"#000000"},
			{ y: 7, label: "pro's amount of deaths in match", color:"#000000"},
			{ y: 7, label: "your cs", color:"#8000FF"},
			{ y: 7, label: "pro's cs", color:"#8000FF"},
			{ y: 7, label: "your damage dealt",color:"#FF0000"},
			{ y: 7, label: "pro's damage dealt",color:"#FF0000"},
			{ y: 7, label: "your vision score", color:"#00FF00"},
			{ y: 7, label: "pro's vision score",color:"#00FF00"},
			{ y: 7, label: "your total time of cc dealt",color:"#0101DF"},
			{ y: 7, label: "pro's total time of cc dealt", color:"#0101DF"},
		]
	}]
});
chart.render();

}

</script>
</head>
<body background="https://wallpaperaccess.com/full/340434.png">
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<div id="chartContainer1" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
<body>

<!--Video section-->
<div>
<iframe width="372" height="225" src="https://www.youtube.com/embed/9JBZhnTR3M0" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="372" height="225" src="https://www.youtube.com/embed/RE62wpaBwO8" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="372" height="225" src="https://www.youtube.com/embed/Amq5Cv0WDA0" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="372" height="225" src="https://www.youtube.com/embed/kF_ybEWi-TM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="372" height="225" src="https://www.youtube.com/embed/UuT44kGPvtU" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="wrapper">
    <div class="chart">
        <h3>Stat comparison from you to pro</h3>
        <table id="data-table" border="1" cellpadding="10" cellspacing="0"
            <caption>Statistics</caption>
            <thead>
            <tr>
                <td>&nbsp;</td>
                <th scope="col">gold</th>
                <th scope="col">cs</th>
                <th scope="col">towers taken</th>
                <th scope="col">damage dealt</th>
                <th scope="col">total cc dealt</th>
                <th scope="col">vision score</th>
                <th scope="col">total deaths</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">You</th>
                <td>4080</td>
                <td>6080</td>
                <td>6240</td>
                <td>3520</td>
                <td>2240</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Pro</th>
                <td>5680</td>
                <td>6880</td>
                <td>6240</td>
                <td>5120</td>
                <td>2640</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Buttons-->
<div class="container">
    <div style = "position:absolute; left:1750px; top:20px">
        <a href="/base" class="w3-bar-item w3-button">Home</a>
        </div>
    <div class="container">
        <div style = "position:absolute; left:1800px; top:20px">
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>
        </div>
</div>
</body>
</html>
