<!DOCTYPE HTML>
{% set nameId = name %}
{% set matchId = match %}
{% set Summoner_Id_data = Summoner_Id_data %}
{% set championId = Summoner_Id_data[matchId].championId  %}
{% set profileIcon = Summoner_Id_data[matchId].profileIcon %}
{% set pageTitle = "Stats Comparsion to " ~ name ~ " For match " ~ matchId %}
{% set goldEarned = Summoner_Id_data[matchId].goldEarned %}
{% set visionScore = Summoner_Id_data[matchId].visionScore %}
{% set deaths = Summoner_Id_data[matchId].deaths %}
{% set kills = Summoner_Id_data[matchId].kills %}
{% set damageDealtToTurrets = Summoner_Id_data[matchId].damageDealtToTurrets %}
{% set totalMinionsKilled = Summoner_Id_data[matchId].totalMinionsKilled %}

<html>

<head>

    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{text:"Gold Comparsion"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{goldEarned}}, label: "your's",color: "#DAA520"},
			{ y: 11151, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,

	title:{text:"Turret Damage"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{damageDealtToTurrets}}, label: "your's",color: "#DAA520"},
			{ y: 33200, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,

	title:{text:"Vision Score"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{visionScore}}, label: "your's",color: "#DAA520"},
			{ y: 70, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,

	title:{text:"Deaths"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{deaths}}, label: "your's",color: "#DAA520"},
			{ y: 2, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();


var chart = new CanvasJS.Chart("chartContainer4", {
	animationEnabled: true,

	title:{text:"Kills"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{kills}}, label: "your's",color: "#DAA520"},
			{ y: 10, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer5", {
	animationEnabled: true,

	title:{text:"Total Minions Killed (CREEPS SLAYEN AKA CS)"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{totalMinionsKilled}}, label: "your's",color: "#DAA520"},
			{ y: 113, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();


}



</script>
</head>
<div><title>{{pageTitle}}</title></div>
<body background="https://wallpaperaccess.com/full/340434.png">
<div id="chartContainer" style="height: 170px; width: 40%;"></div>
<div id="chartContainer1" style="height: 170px; width: 40%;"></div>
<div id="chartContainer2" style="height: 170px; width: 40%;"></div>
<div id="chartContainer3" style="height: 170px; width: 40%;"></div>
<div id="chartContainer4" style="height: 170px; width: 40%;"></div>
<div id="chartContainer5" style="height: 170px; width: 40%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
<body>

<!--Video section-->
<div>
<iframe width="365" height="225" src="https://www.youtube.com/embed/9JBZhnTR3M0" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="225" src="https://www.youtube.com/embed/RE62wpaBwO8" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="225" src="https://www.youtube.com/embed/Amq5Cv0WDA0" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="225" src="https://www.youtube.com/embed/kF_ybEWi-TM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="225" src="https://www.youtube.com/embed/UuT44kGPvtU" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="wrapper">
    <div class="chart">
        <h3>Stat comparison from you to pro</h3>
        <table id="data-table" border="1" cellpadding="10" cellspacing="0"
            <caption>Statistics</caption>
            <thead>
            <tr>
                <td>&nbsp;</td>
                <th scope="col">Gold</th>
                <th scope="col">Turret Damage</th>
                <th scope="col">Vision Score</th>
                <th scope="col">Deaths</th>
                <th scope="col">Kills</th>
                <th scope="col">CS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">You</th>
                <td>{{goldEarned}}</td>
                <td>{{damageDealtToTurrets}}</td>
                <td>{{visionScore}}</td>
                <td>{{deaths}}</td>
                <td>{{kills}}</td>
                <td>{{totalMinionsKilled}}</td>
            </tr>
            <tr>
                <th scope="row">Pro</th>
                <td>11151</td>
                <td>33200</td>
                <td>70</td>
                <td>2</td>
                <td>10</td>
                <td>113</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Buttons-->
<div class="container">
    <div style = "position:absolute; left:1750px; top:20px">
        <a href="/base" class="w3-bar-item w3-button">Home</a>
        </div>
    <div class="container">
        <div style = "position:absolute; left:1800px; top:20px">
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>
        </div>
</div>
</body>
</html>
