<!DOCTYPE HTML>
{% set nameId = name %}
{% set matchId = match %}
{% set Summoner_Id_data = Summoner_Id_data %}
{% set championId = Summoner_Id_data[matchId].championId  %}
{% set profileIcon = Summoner_Id_data[matchId].profileIcon %}
{% set pageTitle = "Stats Comparsion to " ~ name ~ " For match " ~ matchId %}
{% set goldEarned = Summoner_Id_data[matchId].goldEarned %}
{% set visionScore = Summoner_Id_data[matchId].visionScore %}
{% set deaths = Summoner_Id_data[matchId].deaths %}
{% set kills = Summoner_Id_data[matchId].kills %}
{% set damageDealtToTurrets = Summoner_Id_data[matchId].damageDealtToTurrets %}
{% set totalMinionsKilled = Summoner_Id_data[matchId].totalMinionsKilled %}

<html>

<head>

    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{text:"Gold Comparsion"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{goldEarned}}, label: "your's",color: "#DAA520"},
			{ y: 11151, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,

	title:{text:"Turret Damage"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{damageDealtToTurrets}}, label: "your's",color: "#DAA520"},
			{ y: 33200, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,

	title:{text:"Vision Score"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{visionScore}}, label: "your's",color: "#DAA520"},
			{ y: 70, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,

	title:{text:"Deaths"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{deaths}}, label: "your's",color: "#DAA520"},
			{ y: 2, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();


var chart = new CanvasJS.Chart("chartContainer4", {
	animationEnabled: true,

	title:{text:"Kills"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{kills}}, label: "your's",color: "#DAA520"},
			{ y: 10, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();

var chart = new CanvasJS.Chart("chartContainer5", {
	animationEnabled: true,

	title:{text:"Total Minions Killed (CREEPS SLAYEN AKA CS)"},axisX:{interval: 1},
	axisY2:{interlacedColor: "rgba(1,77,101,.2)",gridColor: "rgba(1,77,101,.1)",title: "Stats"},
	data: [{type: "bar",name: "Stats",axisYType: "secondary",color: "#DAA520",dataPoints: [
			{ y: {{totalMinionsKilled}}, label: "your's",color: "#DAA520"},
			{ y: 113, label: "pro's",color: "#DAA520" },
		]
	}]
});
chart.render();


}



</script>
</head>
<div><title>{{pageTitle}}</title></div>
<body background="https://wallpaperaccess.com/full/340434.png">
<div id="chartContainer" style="height: 170px; width: 50%;"></div>
<div id="chartContainer1" style="height: 170px; width: 50%;"></div>
<div id="chartContainer2" style="height: 170px; width: 50%;"></div>
<div id="chartContainer3" style="height: 170px; width: 50%;"></div>
<div id="chartContainer4" style="height: 170px; width: 50%;"></div>
<div id="chartContainer5" style="height: 170px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
<body>

<!--Video section-->
<div>

<iframe width="365" height="200" style="position:absolute; TOP:213px; LEFT:955px" src="https://www.youtube.com/embed/lOgo0zayOKA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="200" style="position:absolute; TOP:7px; LEFT:955px" src="https://www.youtube.com/embed/nAGpW8jUqw4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="200" style="position:absolute; TOP:420px; LEFT:955px" src="https://www.youtube.com/embed/t6QTdxFvqM0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="200" style="position:absolute; TOP:825px; LEFT:955px"  src="https://www.youtube.com/embed/20XS99WuKYw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="365" height="200" style="position:absolute; TOP:625px; LEFT:955px" src="https://www.youtube.com/embed/gGPjZ3drFH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1 style="position:absolute; TOP:7px; LEFT:1350px">Macro Guide</h1>
    <h1 style="position:absolute; TOP:213px; LEFT:1350px">Income Guide</h1>
    <h1 style="position:absolute; TOP:420px; LEFT:1350px">Vision Guide</h1>
    <h1 style="position:absolute; TOP:625px; LEFT:1350px">Mechanical/KDA Guide</h1>
    <h1 style="position:absolute; TOP:825px; LEFT:1350px">CS and Farming Guide</h1>
</div>

<div id="wrapper">
    <div class="chart">
        <h3>Stat comparison from you to pro</h3>
        <table id="data-table" border="1" cellpadding="10" cellspacing="0"
            <caption>Statistics</caption>
            <thead>
            <tr>
                <td>&nbsp;</td>
                <th scope="col">Gold</th>
                <th scope="col">Turret Damage</th>
                <th scope="col">Vision Score</th>
                <th scope="col">Deaths</th>
                <th scope="col">Kills</th>
                <th scope="col">CS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">You</th>
                <td>{{goldEarned}}</td>
                <td>{{damageDealtToTurrets}}</td>
                <td>{{visionScore}}</td>
                <td>{{deaths}}</td>
                <td>{{kills}}</td>
                <td>{{totalMinionsKilled}}</td>
            </tr>
            <tr>
                <th scope="row">Pro</th>
                <td>11151</td>
                <td>33200</td>
                <td>70</td>
                <td>2</td>
                <td>10</td>
                <td>113</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Buttons-->
    <div class="container">
        <div style = "position:absolute; left:1600px; top:20px">
             <a href="/base" class="w3-bar-item w3-button">Home</a>
            <a href="/base/#about" class="w3-bar-item w3-button">About</a>
            <a href="/riot_api_query/psy6" class="w3-bar-item w3-button">Test Riot Data</a>
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>
        </div>
        <div class="wrap">
            <div style="position:absolute; TOP:50px; LEFT:1600px">
                <form action="/riot_api_query_search/" target="_blank" method="get">
                    <input type="text" placeholder="Search for your account.." name="search" style="width: 150px; height: 35px">
                    <button type="submit"><img src="https://www.pngkey.com/png/full/87-872246_cropped-lupa-small-search-button-icon.png" width="40" height="35">
                </form>
            </div>
</div>
</body>
</html>
