<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surprise!! More work for us</title>
</head>
<body background="https://wallpaperaccess.com/full/340434.png">
<body>
<a href="https://padlet.com/aidenc08233/dqj1d38uz1mb5zxd" class="w3-bar-item w3-button">Zach and Aiden journal</a>
<body>
<a href="https://docs.google.com/document/d/1egr9IdqSIppGSzLLILy_hNkgPdYqzkxkF9hFjNXVK-8/edit?usp=sharing" class="w3-bar-item w3-button">Wesley and Brandon journal</a>
<body>
<a href="https://apcentral.collegeboard.org/courses/ap-computer-science-principles" class="w3-bar-item w3-button">Test Prep</a>
<body>
</body>
</html>