<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surprise!! More work for us</title>
</head>
<body>
<iframe src="https://docs.google.com/document/d/1egr9IdqSIppGSzLLILy_hNkgPdYqzkxkF9hFjNXVK-8/edit?usp=sharing" height="400" width="100%" allowfullscreen="" frameborder="0" scrolling="yes"></iframe>
<iframe src="https://padlet.com/aidenc08233/dqj1d38uz1mb5zxd" height="400" width="100%" allowfullscreen="" frameborder="0" scrolling="yes"></iframe>
<a href="https://apcentral.collegeboard.org/courses/ap-computer-science-principles" class="w3-bar-item w3-button">Test Prep</a>
</body>
<body background="https://wallpaperaccess.com/full/340434.png">
</html>