<!DOCTYPE html>
{% set nameId = name %}
{% set gameId = Summoner_Id_data["gameId"] %}
{% set participantId = Summoner_Id_data["participantId"] %}
{% set championId = Summoner_Id_data["championId"] %}
{% set profileIcon = Summoner_Id_data["profileIcon"] %}
{% set goldEarned = Summoner_Id_data["goldEarned"] %}

<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>


<!-- Navbar (sit on top) -->
<!--<div class="w3-top">-->
<!--    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">-->
<!--        <a href="#home" class="w3-bar-item w3-button"><span class="w3-tag w3-grey">Pro</span> Stats</a>-->
<!--        &lt;!&ndash; Right-sided navbar links. Hide them on small screens &ndash;&gt;-->
<!--        <div class="w3-right w3-hide-small">-->
<!--            <a href="#about" class="w3-bar-item w3-button"></a>-->
<!--            <a href="#menu" class="w3-bar-item w3-button"></a>-->
<!--            <a href="#contact" class="w3-bar-item w3-button"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" alt="RIOT API QUERY EXAMPLE: " width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
<!--        <h1 class="w3-xxlarge">RIOT API EXAMPLE: (try psy6)</h1>-->
    </div>
</header>

<html>
<div><p></p></div>
<div>(try URL_BASE/riot_api_query/psy6 or URL_BASE/riot_api_query/PsychicMaster6)</div>
<body>
<form  method = "post" action="/riot_api_result">
    <h3>Result Search from Server:</h3>
</form>
<!--{{Summoner_Id_data}}-->
</body>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1024">
        <title>Example 01: No CSS</title>
    </head>

    <body>
    <div id="wrapper">
        <div class="chart">
            <h3>League Stats</h3>
            <table id="data-table" border="1" cellpadding="10" cellspacing="0"
                   summary="oh lord please work">
                <caption>Your Profile</caption>
                <thead>
                <tr>
                    <td>&nbsp;</td>
                    <th scope="col">Summoner Id:  {{nameId}}</th>
                    <th scope="col">Game Id:  {{gameId}}</th>
                    <th scope="col">Participant Id:  {{participantId}}</th>
                    <th scope="col">Champion Id:     {{championId}}</th>
                    <th scope="col">Gold Earned:      {{goldEarned}}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    </body>
    </html>